
* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}


body {
  margin: 0;
  min-height: 100vh;
  background: #1e1e1e;
  display: flex;
  justify-content: center;   /* centra horizontal */
  align-items: flex-start;   /* arranca arriba */
  color: #f5f5f5;
}


.app {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
}

.add-friend {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #2a2a2a;
  color: white;
}

input::placeholder {
  color: #aaa;
}

button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #4f8cff;
  color: white;
  font-weight: 500;
}

button:hover {
  background: #3a75e0;
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background: #2a2a2a;
  padding: 16px;
  border-radius: 10px;
}

.card h3 {
  margin-top: 0;
}

ul {
  padding-left: 18px;
  margin: 8px 0;
}

.add-expense {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.add-expense button {
  padding: 0 16px;
  font-size: 18px;
}

.total-amigo {
  margin-top: 10px;
  font-weight: bold;
  color: #9fd3ff;
}

.total-general {
  margin-top: 32px;
  text-align: center;
  font-size: 24px;
  color: #7dffb3;
}
